.join{
    margin-left: 70px;
    
}
.footer__text{
    @include textFont (700px, 16px );
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-bg-color);

}