.team{
    @include centeredFlex();
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $button-bg-color;
    &item{
        width: 270px;
        background-color: $primary-bg-color;
        padding-bottom: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-right: 30px;
    }

    &item:nth-child(4){
        margin-right: 0;
    }
}


.team__list{
    @include centeredFlex();
}


.team__card{
    
    margin-top: 30px;
}
.team__titel--name{
    @include textFont (500px, 16px );
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.team__text{
    @include textFont (400px, 16px );
    line-height: 19px;
    color: var(--primary-text-color);
    text-align: center;
    letter-spacing: 0.03em;
    
}
.item-social{
    @include centeredFlex();
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.item-social__list{
    margin-left: 10px;
}
.item-social__list:not(:last-child){
    margin-left: 0;
}

.item-social__icon{
    width: 44px;
    height: 44px;
    @include centeredFlex();
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: $primary-bg-color;
    fill: $icon-fill-color;
    transition-property: background-color, fill;
    @extend %transition;
    &:hover, &:focus{
        background-color: $active-link-color;
         fill: $primary-bg-color;
    }
}
.item-social__svg{
    width: 20px;
    height: 20px;
    padding: 0;
}